* {
	font-family: Arial;
}
body {
	margin: 0;
	padding: 0;
}
header
{
	display: flex;
	justify-content: center;
	height: 120px;
	flex-wrap: wrap;
}
.whatsapp{
	cursor: pointer;
}
.topo
{
	display: flex;
	justify-content: center;
	width: 100%;
	height: 30px;
	background: #00C9FF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #92FE9D, #00C9FF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #92FE9D, #00C9FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.topoint
{
	display: flex;
	width: 990px;
	align-items: center;
	justify-content: flex-end;
	align-items: center;
	color: #FFF;
	font-size: 12px;
}

.topoint_topoint{
	display: flex;
	}

.topoint img{
	width: 25px;
	height: 25px;
}
.topoint a
{
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	padding: 5px;
	color: #FFF;
	font-size: 10px;
}
.topoint a:hover
{
	display: flex;
	align-items: center;
	color: #BBB;
}
.container {
	display: flex;
	justify-content: center;
	width: 100%;
}
.container_int{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 990px;
	height: 90px; 
}
.logo{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.logo img {
	display: flex;
	align-items: center;
	width: 50%;
	padding-top: 5px;
	padding-left: 40px;
}
.logo h1
{
	display: flex;
	color: #333333;
	font-size: 12px;
}
.menu {
	display: flex;
	align-items: center;	
}
nav ul,
nav li {
	list-style: none;
	margin:0;
	padding:0;
}
nav ul {
	display: flex;
}
nav a {
	display: block;
	padding: 15px;
	text-decoration: none;
	text-transform: uppercase;
	color: #727272;
	font-size: 12px;
}
nav .active a,
nav a:hover {
	background-color: #99FF99;
	color: #FFF;
}

#banner{
	display: flex;
	background-image:url(img/fundo4.jpg);
	background-position: center;
	background-size:cover;
	width: 100%;
	height: 500px;
	background-color: #CCC;
}
.banner_int1{
	display: flex;
	align-items: center;
}
.banner_int1 img{
width: 350px;
height: 350px;
}
}
.column
{
	flex-direction: column;
}
.banner_headline
{
	flex: 3;
	display: flex;
	justify-content: space-between;
}
.banner_headline_int1
{
	flex: 1;
}
.banner_headline_int1 img
{
	width: 70%;
	padding-top: 80px;
}
.banner_headline_int2
{
	flex: 1;
}
.banner_headline_int2 img
{
	width: 120%;
	padding-top: 60px;
}
section
{
	display: flex;
	justify-content: center;
}
.agencia
{
	display: flex;
	justify-content: center;
	align-items: center;
	color: #FFF;
	text-shadow: 1px 1px 0px #555555;
	width: 100%;
	height: 50px;
	background: #00C9FF;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #92FE9D, #00C9FF);  /* Chrome 10-25, Safari 5.1-6 */
	/*background: linear-gradient(to right, #92FE9D, #00C9FF);  W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.agencia h2{
	font-size: 25px;
}
.container3
{
	display: flex;
	flex-direction: column;
	color: #FFFFFF;
	justify-content: center;
	padding-left: 100px;
}

.div1
{
	flex: 1;
	background-color: #ff8040;
	margin: 10px;
	padding: 10px;
	font-size: 30px;
	width: 320px;
	height: 50px;
}
.div2
{
	flex: 1;
	background-color: #00cc92;
	margin: 10px;
	padding: 10px;
	font-size: 30px;
	width: 320px;
	height: 50px;
}
.div3
{
	flex: 1;
	background-color: #c43f4a;
	margin: 10px;
	padding: 10px;
	font-size: 30px;
	width: 320px;
	height: 50px;
}
.div4
{
	flex: 1;
	background-color: #ffbf40;
	margin: 10px;
	padding: 10px;
	font-size: 30px;
	width: 320px;
	height: 50px;	
}
aside
{
	display: flex;
	justify-content: center;
}
.container4
{
	display: flex;
	justify-content: center;
	width: 990px;
	padding-top: 25px;

}
.left
{
	flex: 1;
	justify-content: center;
	padding-left: 30px;
	margin-bottom: 20px;

}
.leftint1
{
	display: flex;
	width: 280px;
	height: 80px;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	color: #FFF;
	text-shadow: 2px 2px 4px #000;
	border-top-left-radius: 50px;
	border-bottom-right-radius: 50px;
	background-color: #FFE53B;

}
.leftint1:hover{
	background-color: #FFE53B;
	background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);
}
.leftint2
{
	display: flex;
	width: 280px;
	height: 80px;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	color: #FFF;
	text-shadow: 2px 2px 4px #000;
	text-shadow: 2px 2px 3px #000;
	margin-top: 20px;
	border-top-left-radius: 50px;
	border-bottom-right-radius: 50px;
	background-color: #85FFBD;
}
.leftint2:hover{

	background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
}
.leftint3
{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #00cc92;
	width: 280px;
	height: 80px;
	font-size: 30px;
	text-shadow: 2px 2px 4px #000;
	color: #FFF;
	margin-top: 20px;
	border-top-left-radius: 50px;
	border-bottom-right-radius: 50px;
	background-color: rgba(216,39,39,1);
	
}
.leftint3:hover{
	background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(216,39,39,1) 0%, rgba(110,2,76,1) 90% );
}
.leftint4
{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color:  rgba(207,89,24,1);
	width: 280px;
	height: 80px;
	font-size: 30px;
	color: #FFF;
	text-shadow: 2px 2px 4px #000;
	margin-top: 20px;
	border-top-left-radius: 50px;
	border-bottom-right-radius: 50px;
}
.leftint4:hover{
	background-image: linear-gradient( 75.1deg,  rgba(207,89,24,1) 26.5%, rgba(246,203,90,1) 93.7% );
}
.right
{
	flex: 1;
	margin-top: 20px;
}
.right img
{
	width: 400px;

}
.incentivo
{
	display: flex;
	padding-top: 45px;
}
#sobre{
	width: 100%;
	height: 700px;
	background-color: #20bf55;
	background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);

}
.sobre_int h1{
	font-size: 50px;
	color: #FFF;
}

#preço{
	display: flex;
	background-image:url(img/fundo3.jpg);
	background-position: center;
	background-size:cover;
	width: 100%;
	height: 700px;
}
.preço_int {
	display: flex;
	width: 990px;
	height: 700px;
	align-items: center;
	justify-content: center;
}

.div2222{
	display: flex;
	justify-content: center;
	width: 300px;
	height: 550px;
	border: 5px #ccc solid;
	border-radius: 10px;
	box-shadow: 5px 5px 20px;
	padding: 15px;
	margin: 5px;
	background-color: #08AEEA;
	background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);

	color: #FFF;
	text-shadow: 2px 2px 5px #000000;
}


.desconto{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 300px;
	color: #FFF;
	z-index:100;
	border-radius: 5px;
}
.desconto2{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 300px;

	/*background:radial-gradient(circle,#39aae1 0%,#0e3851 100%);*/
	color: #FFF;
	z-index:100;
	border-radius: 5px;
}
.desconto2 div{
	font-size: 15px;
}
.desconto2 p{
	margin: 0;
	padding: 0;
	font-size: 40px;
}

.desconto div{
	font-size: 15px;
}
.desconto p{
	margin: 0;
	padding: 0;
	font-size: 40px;
}
.numero{
	color: #FFFF00;
}
.lista{
	display: flex;
	flex-direction: column;
	font-size: 12px;
}
.SITE{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 22px;
}

.formulário
{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: 20px;
	width: 100%;
	height: 600px;
	color: #18A383;
	background-color: #CCC;
	padding-top: 20px;
	text-shadow: 2px;
	background-image:url('img/img04a.png');
	background-position:center;
	background-size:cover;
}
form
{

	border-radius: 3px;
	color: #999;
	font-size: 0.8em;
	padding: 15px;
	padding-bottom: 10px;
	margin: 0 ;
	width: 300px;
	color: #999999;
	background-color: #FFF;
}

		input, textarea{
			border: 0;
			outline: none;

			width: 280px;
		}

		.field{
			border: solid 1px #ccc;
			padding: 10px;
			width: 280px;
			
		}

		.field:focus{
			border-color: #18A383;
		}

		.center-content{
			text-align: center;
		}
		.btn-btn-green
		{
			color: #fff;
			background-color: #08AEEA;
			border-radius: 2px;
			width: 300px;
			height: 50px;
			cursor: pointer;
		}
		.btn-btn-green:hover{
			background-color: #08AEEA;
			background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
		}
footer
{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 50px;
	background-color: #08AEEA;
	/*background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);*/
}
.final
{
	color: #FFF;
	font-size: 14px;
}

.menuMobile{
	display: none;
	width: 40px;
	height: 40px;
	margin-top: 40px;
	margin-bottom: 40px;
	margin-right: 20px;
}

.mm_line{
	height: 3px;
	background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
}


@media only screen and (min-width: 320px) and (max-width: 425px){
 	.topo{
		height: 20px;
	}
	.topoint_topoint img {
		display: flex;
    width: 15px;
    height: 15px;
	}
	.topoint a{
		padding: 3px;
	}
	#banner{
		height:320px;
	}
	.agencia{
		    text-shadow: 1px 1px 10px #555555;
	}
	.menu {
	display: block;
	align-items: center;	
}
.logo{
	align-items: center;
}
.logo img{
	width: 150px;
	padding-left: none;
}
.logo h1{
	font-size: 10px;
    padding-left: 30px;
}
.banner_int1 img{
	width: 200px;
    height: 200px;
}
.agencia h2{
	font-size: 12px;
}
.container4{
	flex-direction: column;
}
.leftint1{
	width: none;
	font-size: 20px;
}
.leftint2{
	width: none;
	font-size: 20px;
}
.leftint3{
	width: none;
	font-size: 20px;
}
.leftint4{
	width: none;
	font-size: 20px;
}
.right img {
    width: 300px;
        padding-left: 8px;
}
.preço_int {
    padding-top: 300px;
    flex-direction: column;
 }
 .formulário {
 	margin-top: 550px;
 }
 .div2222{
		width: 250px;
	}
	.lista{
		padding-left: 15px;
		font-size: 13px;
	}
	#preço{
		    display: flex;
    background-image: url();
    width: 100%;
    height: 1300px;
    background-color: #dcebf5;
	}
 form{
 	    width: 260px;
 }
 .field{
 	width: 240px;
 }
 .btn-btn-green{
 	width: 260px;
 }
 .final{
 	font-size: 12px;
 }
 nav ul{
		    flex-direction: column;
		    display: none;
	}

	header {
		height: auto;
	}
	.container_int{
		    height: auto;
	}
	.menuMobile{
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
	nav ul{
		position: absolute;
		left: 0;
		width: 100%;
		background-color: #FFF;
	}

}
/*


@media only screen and (min-width: 426px) and (max-width: 1023px){
	nav ul{
		    flex-direction: column;
		    display: none;
	}

	header {
		height: auto;
	}
	.container_int{
		    height: auto;
	}
	.menuMobile{
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
	nav ul{
		position: absolute;
		left: 0;
		width: 100%;
		background-color: #FFF;
	}
	.logo{
	align-items: center;
}
.logo img{
	width: 180px;
	padding-left: none;
	    padding-left: 250px;
}
.logo h1{
	padding-left: 240px;
}
}*/